body{
    background-color: rgb(255, 196, 87);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}


h1{
    text-align: start; font-weight: bolder;
}
div{
    
    background-color: white;
    text-align: center;
    border-radius: 10px;
    margin-right: 250px;
    margin-left: 550px;
    box-shadow: 9px 25px 9px;
    font-size: 20px;
    width: 400px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    border: solid black 3px;
}
h3{
    text-align: start; 
}
img{border-radius: 7px;}
.learn{
    background-color: rgb(255, 195, 83);
    margin-right: 300px;
    border-radius: 4px;
}
.grey{color: rgb(61, 61, 61);}
